<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head> </head>

    <body>
        <div th:fragment="sellpageFragment">
            <ul class="sell">
                <li class="sell-box" th:each="car : ${carlist}">
                    <img class="sell-img" th:src="${car.url}" alt="Car Image"/>
                    <div>
                    <span th:text="'이름 :'+${car.name}"></span>
                </div>
                    <span th:text="'가격 :'+${car.price}+'만원'"></span>
                </li>
            </ul>
        </div>
    </body>
</html>
