<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head> </head>

    <body>
        <div th:fragment="sellpageFragment">
            <ul class="sell">
                <li class="sell-box" th:onclick="'location.href=\'/product/buy\''"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li></a>
                <li class="sell-box" style="box-sizing: border-box; list-style: none;"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li>
                <li class="sell-box" style="box-sizing: border-box; list-style: none;"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li>
                <li class="sell-box" style="box-sizing: border-box; list-style: none;"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li>
                <li class="sell-box" style="box-sizing: border-box; list-style: none;"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li>
                <li class="sell-box" style="box-sizing: border-box; list-style: none;"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li>
                <li class="sell-box" style="box-sizing: border-box; list-style: none;"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li>
                <li class="sell-box" style="box-sizing: border-box; list-style: none;"><img class="sell-img" th:src="@{/imgs/brandcar.jpg}">
                    <div class="sell-title">차</div>
                </li>
            </ul>
        </div>
    </body>
</html>
