<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head th:fragment="noticeFragmentHead">
        <link rel="stylesheet" th:href="@{/styles/admin/notice.css}" />
        <head th:fragment="adminimgFragmentHead">
            <link rel="stylesheet" th:href="@{/styles/admin/adminimg.css}" />
        </head>
    </head>
    <body>
        <div th:fragment="noticeFragment" id="adminPage">
            <div th:replace="/admin/adminimg :: adminimgFragment"></div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>글 작성 시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="notice : ${notices}" th:object="${notice}">
                            <td>
                                <a th:href="@{'/notice/view/' + *{id}}" th:text="*{id}"></a>
                            </td> 
                            <td>
                                <a th:href="@{'/notice/view/' + *{id}}" th:text="*{title}"></a>
                            </td> 
                            <td th:text="*{userName}">작성자1</td>
                            <td th:text="*{createdAt}">2023-12-09 12:00</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:if="${currentPage > 1}">
                                <a class="page-link" th:href="@{'/admin/notice?page=' + *{currentPage - 1}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li
                                class="page-item"
                                th:each="pageNumber : *{#numbers.sequence(1, totalPages)}"
                                th:classappend="${pageNumber == currentPage} ? 'active' : ''"
                            >
                                <a class="page-link" th:href="@{'?page=' + *{pageNumber}}" th:text="${pageNumber}">1</a>
                            </li>
                            <li class="page-item" th:if="*{currentPage < totalPages}">
                                <a class="page-link" th:href="@{'/admin/notice?page=' + *{currentPage + 1}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                  
            </div>
            <hr />
            <div class="write-button">
                <a th:href="@{/admin/notice/add}"><button>글작성하기</button></a>
            </div>
        </div>
    </body>
</html>
