<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head th:fragment="userdetailFragmentHead">
        <link rel="stylesheet" th:href="@{/styles/admin/userdetail.css}" />
        <head th:fragment="adminimgFragmentHead">
            <link rel="stylesheet" th:href="@{/styles/admin/adminimg.css}" />
        </head>
    </head>
    <body>
        <div th:fragment="userdetailFragment" id="adminPage">
            <div th:replace="~{/admin/adminimg :: adminimgFragment}"></div>
            <div class="userdetail-container">
                <div class="userdetail-box">
                    <div class="userdetail-name" th:text="이름+':'+${user.name}">회원 누구누구님</div>
                    <div class="userdetail-content">
                        <div class="userdetail-gender" th:text="성별+':'+${user.getGenderAsString()}">성별 표시</div>
                        <div class="userdetail-phone" th:text="핸드폰+' '+번호+':'+${user.phone}">핸드폰 번호</div>
                        <div class="userdetail-address" th:text="주소+':'+${user.address}">주소</div>
                        <div class="userdetail-time" th:text="생성+' '+일자 + ':' +${#dates.format(user.created_at, 'yyyy-MM-dd HH:mm')}">회원 생성 일자</div>
                    </div>
                    <div class="userdetail-reservation">
                        <li class="userdetail-reservationBox" th:each="rs : ${reservations}">
                            <img class="userdetail-img" th:src="${rs.url}" />
                            <div class="userdetail-reservation-name" th:text="${rs.carName}">예약차량 이름</div>
                        </li>
                    </div>
                    <form class="admin-box" th:action="@{'/admin/user/delete/'}+${user.id}" method="post">
                            <button type="submit">강퇴</button>
                    </form>
                    
            </div>
            <hr />
        </div>
    </body>
</html>
