<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head th:fragment="userdetailFragmentHead">
        <link rel="stylesheet" th:href="@{/styles/admin/userdetail.css}" />
        <head th:fragment="adminimgFragmentHead">
            <link rel="stylesheet" th:href="@{/styles/admin/adminimg.css}" />
        </head>
    </head>
    <body>
        <div th:fragment="userdetailFragment" id="adminPage">
            <div th:replace="/admin/adminimg :: adminimgFragment"></div>
            <div class="userdetail-container">
                <div class="userdetail-box">
                    <div class="userdetail-name">회원 누구누구님</div>
                    <div class="userdetail-content">
                        <div class="userdetail-gender">성별 표시</div>
                        <div class="userdetail-phone">핸드폰 번호</div>
                        <div class="userdetail-address">주소</div>
                    </div>
                    <div class="userdetail-reservation">
                        <li class="userdetail-reservationBox">
                            <img class="userdetail-img" th:src="@{/imgs/brandcar.jpg}" />
                            <div class="userdetail-reservation-name">예약차량 이름</div>
                        </li>
                        <li class="userdetail-reservationBox">
                            <img class="userdetail-img" th:src="@{/imgs/brandcar.jpg}" />
                            <div class="userdetail-reservation-name">예약차량 이름</div>
                        </li>
                        <li class="userdetail-reservationBox">
                            <img class="userdetail-img" th:src="@{/imgs/brandcar.jpg}" />
                            <div class="userdetail-reservation-name">예약차량 이름</div>
                        </li>
                        <li class="userdetail-reservationBox">
                            <img class="userdetail-img" th:src="@{/imgs/brandcar.jpg}" />
                            <div class="userdetail-reservation-name">예약차량 이름</div>
                        </li>
                        <li class="userdetail-reservationBox">
                            <img class="userdetail-img" th:src="@{/imgs/brandcar.jpg}" />
                            <div class="userdetail-reservation-name">예약차량 이름</div>
                        </li>
                    </div>

            </div>
            <hr />
        </div>
    </body>
</html>
