<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head >
    </head>
    <body>
     
            <div th:fragment="bestProductFragment" class="bestProduct" id="bestProduct">
                <div class="tit" id="fonttype">BEST PRODUCT</div>
                <p class="tit_btm" id="fonttype">인기 자동차 순위</p>
            
                <div class="c_tabs">
                    <ul class="c_tabs" id="carTabs">
                        <li><a class="fonttype"  onclick="loadCars('bestSmall')">소형차</a></li>
                        <li><a class="fonttype"  onclick="loadCars('bestMiddle')">중형차</a></li>
                        <li><a class="fonttype"  onclick="loadCars('bestLarge')">대형차</a></li>
                        <li><a class="fonttype"  onclick="loadCars('bestSports')">스포츠카</a></li>
                    </ul>
                </div>
                <div class="c_lists">
                    <ul class="wrapper_ul" style="width: 100%" id="carList">
                        <!-- 자동차 목록이 여기에 동적으로 추가될 것입니다 -->
                    </ul>
                </div>
<!--             
                <div class="c_lists">
                    <ul class="wrapper_ul" style="width: 100%">
                        <li th:each="car : ${bestSmall}">
                            <a class="fonttype" href="#">
                                <div class="thum">
                                    <img
                                        th:src="${car.url}"
                                    />
                                </div>
                                <div class="info">
                                    <div class="cate">프리미엄펜</div>
                                    <div class="name">153 리스펙트 리파인</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div> -->

                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                <script>
                    loadCars('bestSmall');
                    function loadCars(category) {
                        $.ajax({
                            type: 'GET',
                            url: '/' + category,
                            success: function (data) {
                                $('#carList').html(data);
                            },
                            error: function () {
                                console.error('Error loading cars for category: ' + category);
                            }
                        });
                    }
                </script>
    </body>
</html>

