<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head> </head>
    <body>
        <div th:fragment="hotProductFragment" id="content">
            <div class="new">
                <div class="conwrap">
                    <div class="tit">
                        <h2 class="fonttype">Hot<br />Product</h2>
                        <p class="fonttype">가장 인기 많은 자동차들</p>
                    </div>
                    <ul class="toparea">
                        <li class="box new1" th:each="car, iterStat : ${hot}">
                            <a class="fonttype" th:href="@{'/product/buy/' + ${car.id}}">
                                <img
                                    th:src="${car.url}"
                                    alt=""
                                    width="392"
                                    height="205"
                                />
                                <div class="ondiv">
                                    <div class="align">
                                        <div class="name" th:text="${car.name}">PEN</div>
                                        <div class="price" th:text="${car.price}+'만원'">FX ZETA C3</div>
                                        <div class="plus">
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
