<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head th:fragment="mainFragmentHead">
        <link rel="stylesheet" href="/styles/main/main.css" />
        <head th:fragment="popupFragmentHead">
            <link rel="stylesheet" href="styles/popup.css">
        </head>
    </head>
    <body>
        <div th:fragment="mainFragment" id="mainPage">
            <div th:replace="/basic/popup :: popupFragment"></div>
            <hr />
            <div class="container">
                <div th:replace="/main/hotproduct :: hotProductFragment"></div>   
            </div>
            <hr />
            <div th:replace="/main/bestproduct :: bestProductFragment"></div>
            </div>
        </div>
    </body>
</html>
