.container {

    width: 1000px;
    height: 1000px;
    margin-top: 148px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
} 

.text-box {
    margin-top: 10px;
    padding: 10px;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    border-image: linear-gradient(45deg, #f5f5f5, #d0d0d0) 1;
}
.grid-img{
    width: 400px;
    object-fit: cover;
}
.text-box, .grid-img {
    border-radius: 10%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: white;
    
}

.text-box.left {
    transform: translateX(11%) translateY(-20%);
    z-index: 4;
}
.text-box.right {
    transform: translateX(-20%) translateY(-3%);
    z-index: 3;
    
}
.grid-img.top {
    transform: translateX(20%) translateY(3%);
    z-index: 1; 
}

.grid-img.bottom {
    transform: translateX(-12%) translateY(-24%);
    z-index: 2; 
}