<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head th:fragment="noticeFragmentHead">
        <link rel="stylesheet" href="styles/notice/notice.css" />
        <link rel="stylesheet" href="styles/notice/noticehead.css" />
    </head>

    <body>
        <div class="container" th:fragment="noticeFragment">
            <div th:replace="/notice/noticehead :: noticeHeadFragment"></div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>글 작성 시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>테이블 제목 1</td>
                            <td>작성자1</td>
                            <td>2023-12-09 12:00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>테이블 제목 2</td>
                            <td>작성자2</td>
                            <td>2023-12-09 13:30</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>테이블 제목 3</td>
                            <td>작성자3</td>
                            <td>2023-12-09 15:45</td>
                        </tr>
                    </tbody>
                </table>
        
        </div>
    </body>
</html>
