.container {
    width: 1000px;
    height: 735px;
    margin-top: 148px;
}
.item-img{
    object-fit: cover;
}
.item-box {
    margin: auto;
    width: 936px;
    text-align: center;
    border: 1px solid black;
    user-select: none;
    margin-bottom: 5px;
}
.mypage-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 460px;
    border: solid 2px black;
    padding: 5px;
}
.mypage-reservationBox{
    list-style-type: none;
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin: 5px;
    flex: 1;
}
.mypage-img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 3px;
}

.mypage-reservation{
    grid-column: 1/13;
    grid-row: 6/11;
    border: solid 2px black;
    font-size: 14px;
    font-weight: 400;
    margin: 3px;
    text-align: center;
    display: flex;
}
.mypage-content{
    margin: 5px;
    grid-column: 1/13;
    border: solid 2px black;
    grid-row: 2/6;
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.mypage-gender{
    margin: 5px;
    grid-column: 6/8;
    grid-row: 2/3;
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.mypage-phone{
    margin: 5px;
    grid-column: 6/8;
    grid-row: 3/4;
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.mypage-address{
    margin: 5px;
    grid-column: 6/8;
    grid-row: 4/5;
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.mypage-name{
    margin-top: 5px;
    grid-column: 5/9;
    grid-row: 1/2;
    border: solid 2px black;
    text-align: center;
    font-size: large;
    font-weight: 600;
}
.mypage-withdraw{
    grid-column: 6/8;
    grid-row: 11/13;
}
.mypage-withdraw button{
    width: 100%;
    height: 100%;
    border: solid 2px black;
    text-align: center;
    font-size: large;
    font-weight: 600;
}
