<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="brandFragmentHead">
        <link rel="stylesheet" th:href="@{/styles/brand/brand.css}" />
    </head>
    <body>
        <div class="container" th:fragment="brandFragment">
            <div class="item-box">
                <img class="item-img" th:src="@{/imgs/brand.png}" alt="브랜드목록사진" />
            </div>

            <div class="brand" th:onclick="location.href='/product/brand/hyundai'">
                <img class="brand-logo" th:src="@{/imgs/hyundai.png}" /> 현대 보러가기
            </div>
            <div class="brand" th:onclick="location.href='/product/brand/kia'">
                <img class="brand-logo" th:src="@{/imgs/kia.png}" /> 기아 보러가기
            </div>
            <div class="brand" th:onclick="location.href='/product/brand/samsung'">
                <img class="brand-logo" th:src="@{/imgs/samsung.png}" /> 르노삼성 보러가기
            </div>
            <div class="brand" th:onclick="location.href='/product/brand/chevorlet'">
                <img class="brand-logo" th:src="@{/imgs/chevorlet.png}" />쉐보레 보러가기
            </div>
            <div class="brand" th:onclick="location.href='/product/brand/ssangyong'">
                <img class="brand-logo" th:src="@{/imgs/ssangyong.png}" /> 쌍용 보러가기
            </div>
            <div class="brand" th:onclick="location.href='/product/brand/porshe'">
                <img class="brand-logo" th:src="@{/imgs/porshe.png}" /> 포르쉐 보러가기
            </div>
            <div class="brand" th:onclick="location.href='/product/brand/bmw'">
                <img class="brand-logo" th:src="@{/imgs/bmw.png}" /> BMW 보러가기
            </div>
            <div class="brand" th:onclick="location.href='/product/brand/lambo'">
                <img class="brand-logo" th:src="@{/imgs/lambo.png}" /> 람보르기니 보러가기
            </div>
        </div>
    </body>
</html>
