<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
    <head th:fragment="buyFragmentHead"> 
        <link rel="stylesheet" th:href="@{/styles/product/buy.css}" />
    </head>

    <body>
        <div class="container" th:fragment="buyFragment">
            <div class="item-box">
                <img class="item-img" th:src="@{/imgs/carsell.png}" />
            </div>
            <div class="sell-box">
                <h1 class="sell-title">판매 차량 이름</h1>
            </div>
        </div>
    </body>
</html>
