
.item-box {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    user-select: none;
}

.selectPage {
    list-style: none;
    padding: 0;
    text-align: center;
    user-select: none;
}

.selectPage li {
    display: inline-block;
    cursor: pointer;
    border-radius:1rem;
    width: 48%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Nanum Pen Script', cursive;
}

.selectPage li.th-intro {
    background-color: rgb(126, 90, 224);
}

.selectPage li.th-notice {
    background-color: lightgreen;
}