.container {
    width: 1000px;
    height: 1000px;
}
.table-container {
    max-height: 500px; /* 전체 테이블의 최대 높이를 500px로 설정 */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 20px; /* 각 행의 높이를 20px로 설정 */
}

th {
    background-color: #f2f2f2;
}