.logo{
    width: 50px;
    margin-left: 10px;
}
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
  }
  .navbar__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  
  .navbar__menu li {
    padding: 8px 30px;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
